[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
otsutil = "*"
pyperclip = "*"

[dev-packages]
black = "*"
flake8 = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
